<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>68020416382-h0jn86kahmgpvrguq86p8nc7t5r6rddh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68020416382-h0jn86kahmgpvrguq86p8nc7t5r6rddh</string>
	<key>API_KEY</key>
	<string>AIzaSyCY6KC0Lzb3UJWeZJZRQI7vZ_VqJcVp16E</string>
	<key>GCM_SENDER_ID</key>
	<string>68020416382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ban9ban3.TestPush</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-notificati-a19de</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-notificati-a19de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68020416382:ios:5fd85670ed32a8fe</string>
	<key>DATABASE_URL</key>
	<string>https://test-firebase-notificati-a19de.firebaseio.com</string>
</dict>
</plist>